* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(222, 213, 190);
    color: rgb(73, 46, 27);
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}